<!DOCTYPE html>
<html>
<head>
    <title>Kelola Produk</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<script>
setTimeout(function() {

    let flash = document.getElementById("flash-message");

    if (flash) {

        flash.style.transition = "0.5s";
        flash.style.opacity = "0";

        setTimeout(function() {
            flash.remove();
        }, 500);

    }

}, 2000);
</script>
<body>

{% include 'navbar.html' %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="success-alert" id="flash-message">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}

<div class="products-container">

    <div class="products-header">

        <h1>🧁 Kelola Produk Bakery</h1>

        <a href="/add_product" class="add-product-btn">
            + Tambah Produk
        </a>

    </div>

    <div class="table-card">

        <table class="products-table">

            <tr>
                <th>ID</th>
                <th>Nama Produk</th>
                <th>Harga</th>
                <th>Stok</th>
                <th>Aksi</th>
            </tr>

            {% for product in products %}

            <tr>

                <td>#{{ product.id }}</td>

                <td>{{ product.nama_produk }}</td>

                <td>
                    Rp {{ "{:,.0f}".format(product.harga).replace(",", ".") }}
                </td>

                <td>{{ product.stok }}</td>

                <td class="action-buttons">

                    <a href="/edit_product/{{ product.id }}"
                       class="edit-btn">
                        Edit
                    </a>

                    <a href="/delete_product/{{ product.id }}"
                       class="delete-btn"
                       onclick="return confirm('Yakin ingin menghapus produk ini?')">
                        Hapus
                    </a>

                </td>

            </tr>

            {% endfor %}

        </table>

    </div>

</div>

</body>
</html>