<!DOCTYPE html>
<html>
<head>
    <title>Register - My Fortunes</title>
</head>
<body>

    <h2>Register My Fortunes Bakery</h2>

    <form method="POST">

        <label>Nama</label><br>
        <input type="text" name="nama" required><br><br>

        <label>Email</label><br>
        <input type="email" name="email" required><br><br>

        <label>Password</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">
            Register
        </button>

    </form>

</body>
</html>